<%- include('../Partials/header.ejs') %>
<div class="header-bottom sticky-header">
    <div class="container">
        <div class="header-left">
            <nav class="main-nav">
                <ul class="menu  sf-arrows">
                   
                    <li class="megamenu-container active">
                        <a href="/" class="">Home</a>

                    </li>
                   
                    <li>
                        <a href="/products" type="submit" class=" sf-with-ul">All Products</a>

                       
                    </li>
                    <li>
                        <a href="/opencart" class=" sf-with-ul">Cart</a>

                    </li>
                   
                    
                    <li>
                        <a href="/openwishlist" class=" sf-with-ul">Wishlist</a>

                        
                    </li>
                    
                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->

            <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
            </button>
        </div><!-- End .header-left -->
       
        
    </div><!-- End .container -->
</div><!-- End .header-bottom -->
</header>
        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="banner banner-big banner-overlay">
                                    <a href="/kitproducts" type="submit" >
                                        <img src="assets/images/demos/demo-17/banners/kittt.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-bottom">
                                        <h4 class="banner-subtitle text-white"><a href="#" style="text-decoration: none;" >Trending now</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#" style="text-decoration: none;" >All Your Favourite Team<br>Kits are Now Available</a></h3><!-- End .banner-title -->
                                       
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-5 -->
                           
                            <div class="col-lg-7">
                                <div class="banner banner-overlay">
                                    <a href="/bootproducts" type="submit">
                                        <img src="assets/images/demos/demo-17/banners/bootsbanner.avif" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle text-white"><a href="#"  style="text-decoration: none;">Trending now</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#" style="text-decoration: none;">Select Your Boots <br>From Popular Brands</a></h3><!-- End .banner-title -->
                                        
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="/ballproducts" type="submit">
                                                <img src="assets/images/demos/demo-17/banners/ballbanner.avif" alt="Banner">
                                            </a>

                                            <div class="banner-content banner-content-top ">
                                                <h4 class="banner-subtitle text-white"><a href="#" style="text-decoration: none;">you might love</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#" style="text-decoration: none;">High Qualits Balls <br>For Every Surface</a></h3><!-- End .banner-title -->
                                             
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="/accessoriesproducts" type="submit">
                                                <img src="assets/images/demos/demo-17/banners/glovesbanner.jpg" style="filter: brightness(0.5);" alt="Banner">
                                            </a>

                                            <div class="banner-content  banner-content-top banner-content-reverse">
                                                <h4 class="banner-subtitle text-white"><a href="#" style="text-decoration: none;">The new pretty</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#" style="text-decoration: none;">Huge Collection of<br>All Accessories You Need</a></h3><!-- End .banner-title -->
                                                
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->

                <div class="icon-boxes-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                            
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .bg-lighter -->



<% if(products.length>0){%>
            <div class="container">
                <h2 class="title text-center">FOOTOP SPECIAL OFFERS</h2>
                
                    
                    
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "992": {
                            "items":3
                        },
                        "1200": {
                            "items":4
                        }
                    }
                }'>
                <% products.forEach(products => {%>
                <div class="product product-2">
                    <figure class="product-media">
                        <span class="product-label label-circle label-sale">Offer</span>
                        <a href="/productopen?id=<%=products._id%>">
                            <img src="upload/<%=products.image[3]%>" alt="Product image" class="product-image">
                        </a>

                        <div class="product-countdown" data-until="2019, 11, 2"></div>

                        <div class="product-action-vertical">
                            <a href="" type="submit" class="addtowishlistbtn btn-product-icon btn-wishlist btn-expandable" data-productid="<%=products._id%>"><span>add to wishlist</span></a>
                        </div>

                        <div class="product-action product-action-dark">
                            <button  class="addtocartbtn btn-product btn-cart" data-productid="<%=products._id%>" style="border: hidden;background-color: black;" type="submit" ><span>add to cart</span></button>
                            <!-- <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> -->
                        </div>
                    </figure>

                    <div class="product-body">
                        <div class="product-cat">
                            <a style="text-decoration: none;" href="#"><%-products.category_id.name%></a>
                        </div>
                        <h3  class="product-title"><a style="text-decoration: none;" href=""><%-products.name%></a></h3>
                        <div class="product-price">
                            <span class="new-price">₹ <%-products.offerprice%></span>
                            <span class="old-price">₹ <%-products.price%></span>
                        </div>
                      

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="upload/<%=products.image[0]%>" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="upload/<%=products.image[1]%>" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="upload/<%=products.image[2]%>" alt="product desc">
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
               </div>
               
            </div>
<% } %>
           

           
           
        </main><!-- End .main -->
        <script src="https://code.jquery.com/jquery-3.6.4.slim.js"
integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="assets/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script>
        $(".addtocartbtn").click(function () {
          console.log("button clicked");
          let productid = $(this).data('productid');
          console.log(productid);
          $.ajax({
            url: "/addtocart?id=" + productid,
            type: "get",
            success: function (response) {
             if(response.message == "1"){
              console.log('response is back');
              Swal.fire({
              
                        title: "success",
                        text: "Item already added to cart",        
                        icon: "info",
                        confirmButtonText: "OK"
                       }); 
      
             }else{
              console.log('response is back');
              Swal.fire({
                        title: "success",
                        text: "added to cart",        
                        icon: "success",
                        confirmButtonText: "OK"
                       }); 
             }
            }
          });
        });


        $(".addtowishlistbtn").click(function (event) {
  event.preventDefault(); // Prevent the default link behavior
  
  console.log("link clicked");
  let productid = $(this).data('productid');
  console.log(productid);
  
  $.ajax({
    url: "/addtowishlist?id=" + productid,
    type: "get",
    success: function (response) {
      if (response.message == "1") {
        console.log('response is back');
        Swal.fire({
          title: "success",
          text: "Item is already in the wishlist or cart",
          icon: "info",
          confirmButtonText: "OK"
        });
      } else {
        console.log('response is back');
        Swal.fire({
          title: "success",
          text: "Added to wishlist",
          icon: "success",
          confirmButtonText: "OK"
        });
      }
    }
  });
});

</script>
<%- include('../Partials/footer.ejs') %>
